@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');

.toggle {
    text-decoration: line-through;
    color: grey;
}

h1 {
    font-size: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header div {
    font-size: 25px;
}

#form-container {
    background-color:#D08372;
    color: white;
    text-decoration: bold;
    font-size: 38px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

#add-button {
    background-color: #FFF6EB;
    border-radius: 5%;
}

#list-container {
    background: #fff6ebf1;
    width: 450px;
    margin: 60px auto;
    border-radius: 15%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    border: 2px solid #462C15;
}

#list-header {
    text-decoration: underline;
}

.single-item {
    font-family: 'The Girl Next Door', cursive;
    font-weight: bold;
    user-select: none;
}

.ingredient {
    display: inline-block;
    margin-right: 10px;
}

.quantity {
    display: inline-block;
    font-size: 30px;
}

#delete-button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
    width: 100px;
    background-color: #D08372;
    color: white;
    border-radius: 5%;
}